In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
%matplotlib inline

In [61]:
data_set = pd.read_excel("default of credit card clients.xls")

In [62]:
data_set

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
6,50000,1,1,2,37,0,0,0,0,0,...,19394,19619,20024,2500,1815,657,1000,1000,800,0
7,500000,1,1,2,29,0,0,0,0,0,...,542653,483003,473944,55000,40000,38000,20239,13750,13770,0
8,100000,2,2,2,23,0,-1,-1,0,0,...,221,-159,567,380,601,0,581,1687,1542,0
9,140000,2,3,1,28,0,0,2,0,0,...,12211,11793,3719,3329,0,432,1000,1000,1000,0
10,20000,1,3,2,35,-2,-2,-2,-2,-1,...,0,13007,13912,0,0,0,13007,1122,0,0
11,200000,2,3,2,34,0,0,2,0,0,...,2513,1828,3731,2306,12,50,300,3738,66,0
12,260000,2,1,2,51,-1,-1,-1,-1,-1,...,8517,22287,13668,21818,9966,8583,22301,0,3640,0
13,630000,2,2,2,41,-1,0,-1,-1,-1,...,6500,6500,2870,1000,6500,6500,6500,2870,0,0
14,70000,1,2,2,30,1,2,2,0,0,...,66782,36137,36894,3200,0,3000,3000,1500,0,1
15,250000,1,1,2,29,0,0,0,0,0,...,59696,56875,55512,3000,3000,3000,3000,3000,3000,0
16,50000,2,3,3,23,1,2,0,0,0,...,28771,29531,30211,0,1500,1100,1200,1300,1100,0
17,20000,1,1,2,24,0,0,2,2,2,...,18338,17905,19104,3200,0,1500,0,1650,0,1
18,320000,1,1,1,49,0,0,0,-1,-1,...,70074,5856,195599,10358,10000,75940,20000,195599,50000,0
19,360000,2,1,1,49,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
20,180000,2,1,2,29,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
21,130000,2,3,2,39,0,0,0,0,0,...,20616,11802,930,3000,1537,1000,2000,930,33764,0
22,120000,2,2,1,39,-1,-1,-1,-1,-1,...,0,632,316,316,316,0,632,316,0,1
23,70000,2,2,2,26,2,0,0,2,2,...,44006,46905,46012,2007,3582,0,3601,0,1820,1
24,450000,2,1,1,40,-2,-2,-2,-2,-2,...,560,0,0,19428,1473,560,0,0,1128,1
25,90000,1,1,2,23,0,0,0,-1,0,...,5398,6360,8292,5757,0,5398,1200,2045,2000,0
26,50000,1,3,2,23,0,0,0,0,0,...,28967,29829,30046,1973,1426,1001,1432,1062,997,0
27,60000,1,1,2,27,1,-2,-1,-1,-1,...,-57,127,-189,0,1000,0,500,0,1000,1
28,50000,2,3,2,30,0,0,0,0,0,...,17878,18931,19617,1300,1300,1000,1500,1000,1012,0
29,50000,2,3,1,47,-1,-1,-1,-1,-1,...,2040,30430,257,3415,3421,2044,30430,257,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29971,360000,1,1,1,34,-1,-1,-1,0,0,...,49005,8676,19487,52951,64535,8907,53,19584,16080,0
29972,80000,1,3,1,36,0,0,0,0,0,...,69674,71070,73612,2395,2500,2530,2556,3700,3000,0
29973,190000,1,1,1,37,0,0,0,0,0,...,29223,19616,148482,2000,3869,25128,10115,148482,4800,0
29974,230000,1,2,1,35,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,1
29975,50000,1,2,1,37,1,2,2,2,0,...,2846,1585,1324,0,3000,0,0,1000,1000,1
29976,220000,1,2,1,41,0,0,-1,-1,-2,...,5924,1759,1824,8840,6643,5924,1759,1824,7022,0
29977,40000,1,2,2,47,2,2,3,2,2,...,51259,47151,46934,4000,0,2000,0,3520,0,1
29978,420000,1,1,2,34,0,0,0,0,0,...,141695,144839,147954,7000,7000,5500,5500,5600,5000,0
29979,310000,1,2,1,39,0,0,0,0,0,...,219409,216540,210675,10029,9218,10029,8049,8040,10059,0
29980,180000,1,1,1,32,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29981,50000,1,3,2,42,0,0,0,0,0,...,50360,19971,19694,10000,4000,5000,3000,4500,2000,0
29982,50000,1,2,1,44,1,2,2,2,0,...,28192,22676,14647,2300,1700,0,517,503,585,0
29983,90000,1,2,1,36,0,0,0,0,0,...,11328,12036,14329,1500,1500,1500,1200,2500,0,1
29984,20000,1,2,1,44,-2,-2,-2,-2,-2,...,2882,9235,1719,2890,2720,2890,9263,1824,1701,0
29985,30000,1,2,2,38,-1,-1,-2,-1,-1,...,1993,1907,3319,923,2977,1999,3057,3319,1000,0
29986,240000,1,1,2,30,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29987,360000,1,1,2,35,-1,-1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29988,130000,1,1,2,34,0,0,0,0,0,...,108047,93708,97353,3000,2000,93000,4000,5027,4005,0
29989,250000,1,1,1,34,0,0,0,0,0,...,245750,175005,179687,65000,8800,9011,6000,7000,6009,0
29990,150000,1,1,2,35,-1,-1,-1,-1,-1,...,780,0,0,9054,0,783,0,0,0,0
29991,140000,1,2,1,41,0,0,0,0,0,...,138262,49675,46121,6000,7000,4228,1505,2000,2000,0
29992,210000,1,2,1,34,3,2,2,2,2,...,2500,2500,2500,0,0,0,0,0,0,1
29993,10000,1,3,1,43,0,0,0,-2,-2,...,0,0,0,2000,0,0,0,0,0,0
29994,100000,1,1,2,38,0,-1,-1,0,0,...,70626,69473,55004,2000,111784,4000,3000,2000,2000,0
29995,80000,1,2,2,34,2,2,2,2,2,...,77519,82607,81158,7000,3500,0,7000,0,4000,1
29996,220000,1,3,1,39,0,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29997,150000,1,3,2,43,-1,-1,-1,-1,0,...,8979,5190,0,1837,3526,8998,129,0,0,0
29998,30000,1,2,2,37,4,3,2,-1,0,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29999,80000,1,3,1,41,1,-1,0,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
30000,50000,1,2,1,46,0,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [63]:
data_set = np.array(data_set)

In [64]:
labels = data_set[0]

In [65]:
# data_set = pd.DataFrame(data_set, columns = labels)

In [66]:
x = np.delete(data_set, (0), axis=0)
x

array([[20000, 2, 2, ..., 0, 0, 1],
       [120000, 2, 2, ..., 0, 2000, 1],
       [90000, 2, 2, ..., 1000, 5000, 0],
       ...,
       [30000, 1, 2, ..., 2000, 3100, 1],
       [80000, 1, 3, ..., 52964, 1804, 1],
       [50000, 1, 2, ..., 1000, 1000, 1]], dtype=object)

In [67]:
data_set = pd.DataFrame(x, columns = labels)

In [68]:
data_set

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
5,50000,1,1,2,37,0,0,0,0,0,...,19394,19619,20024,2500,1815,657,1000,1000,800,0
6,500000,1,1,2,29,0,0,0,0,0,...,542653,483003,473944,55000,40000,38000,20239,13750,13770,0
7,100000,2,2,2,23,0,-1,-1,0,0,...,221,-159,567,380,601,0,581,1687,1542,0
8,140000,2,3,1,28,0,0,2,0,0,...,12211,11793,3719,3329,0,432,1000,1000,1000,0
9,20000,1,3,2,35,-2,-2,-2,-2,-1,...,0,13007,13912,0,0,0,13007,1122,0,0
10,200000,2,3,2,34,0,0,2,0,0,...,2513,1828,3731,2306,12,50,300,3738,66,0
11,260000,2,1,2,51,-1,-1,-1,-1,-1,...,8517,22287,13668,21818,9966,8583,22301,0,3640,0
12,630000,2,2,2,41,-1,0,-1,-1,-1,...,6500,6500,2870,1000,6500,6500,6500,2870,0,0
13,70000,1,2,2,30,1,2,2,0,0,...,66782,36137,36894,3200,0,3000,3000,1500,0,1
14,250000,1,1,2,29,0,0,0,0,0,...,59696,56875,55512,3000,3000,3000,3000,3000,3000,0
15,50000,2,3,3,23,1,2,0,0,0,...,28771,29531,30211,0,1500,1100,1200,1300,1100,0
16,20000,1,1,2,24,0,0,2,2,2,...,18338,17905,19104,3200,0,1500,0,1650,0,1
17,320000,1,1,1,49,0,0,0,-1,-1,...,70074,5856,195599,10358,10000,75940,20000,195599,50000,0
18,360000,2,1,1,49,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
19,180000,2,1,2,29,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
20,130000,2,3,2,39,0,0,0,0,0,...,20616,11802,930,3000,1537,1000,2000,930,33764,0
21,120000,2,2,1,39,-1,-1,-1,-1,-1,...,0,632,316,316,316,0,632,316,0,1
22,70000,2,2,2,26,2,0,0,2,2,...,44006,46905,46012,2007,3582,0,3601,0,1820,1
23,450000,2,1,1,40,-2,-2,-2,-2,-2,...,560,0,0,19428,1473,560,0,0,1128,1
24,90000,1,1,2,23,0,0,0,-1,0,...,5398,6360,8292,5757,0,5398,1200,2045,2000,0
25,50000,1,3,2,23,0,0,0,0,0,...,28967,29829,30046,1973,1426,1001,1432,1062,997,0
26,60000,1,1,2,27,1,-2,-1,-1,-1,...,-57,127,-189,0,1000,0,500,0,1000,1
27,50000,2,3,2,30,0,0,0,0,0,...,17878,18931,19617,1300,1300,1000,1500,1000,1012,0
28,50000,2,3,1,47,-1,-1,-1,-1,-1,...,2040,30430,257,3415,3421,2044,30430,257,0,0
29,50000,1,1,2,26,0,0,0,0,0,...,17907,18375,11400,1500,1500,1000,1000,1600,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29970,360000,1,1,1,34,-1,-1,-1,0,0,...,49005,8676,19487,52951,64535,8907,53,19584,16080,0
29971,80000,1,3,1,36,0,0,0,0,0,...,69674,71070,73612,2395,2500,2530,2556,3700,3000,0
29972,190000,1,1,1,37,0,0,0,0,0,...,29223,19616,148482,2000,3869,25128,10115,148482,4800,0
29973,230000,1,2,1,35,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,1
29974,50000,1,2,1,37,1,2,2,2,0,...,2846,1585,1324,0,3000,0,0,1000,1000,1
29975,220000,1,2,1,41,0,0,-1,-1,-2,...,5924,1759,1824,8840,6643,5924,1759,1824,7022,0
29976,40000,1,2,2,47,2,2,3,2,2,...,51259,47151,46934,4000,0,2000,0,3520,0,1
29977,420000,1,1,2,34,0,0,0,0,0,...,141695,144839,147954,7000,7000,5500,5500,5600,5000,0
29978,310000,1,2,1,39,0,0,0,0,0,...,219409,216540,210675,10029,9218,10029,8049,8040,10059,0
29979,180000,1,1,1,32,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29980,50000,1,3,2,42,0,0,0,0,0,...,50360,19971,19694,10000,4000,5000,3000,4500,2000,0
29981,50000,1,2,1,44,1,2,2,2,0,...,28192,22676,14647,2300,1700,0,517,503,585,0
29982,90000,1,2,1,36,0,0,0,0,0,...,11328,12036,14329,1500,1500,1500,1200,2500,0,1
29983,20000,1,2,1,44,-2,-2,-2,-2,-2,...,2882,9235,1719,2890,2720,2890,9263,1824,1701,0
29984,30000,1,2,2,38,-1,-1,-2,-1,-1,...,1993,1907,3319,923,2977,1999,3057,3319,1000,0
29985,240000,1,1,2,30,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29986,360000,1,1,2,35,-1,-1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29987,130000,1,1,2,34,0,0,0,0,0,...,108047,93708,97353,3000,2000,93000,4000,5027,4005,0
29988,250000,1,1,1,34,0,0,0,0,0,...,245750,175005,179687,65000,8800,9011,6000,7000,6009,0
29989,150000,1,1,2,35,-1,-1,-1,-1,-1,...,780,0,0,9054,0,783,0,0,0,0
29990,140000,1,2,1,41,0,0,0,0,0,...,138262,49675,46121,6000,7000,4228,1505,2000,2000,0
29991,210000,1,2,1,34,3,2,2,2,2,...,2500,2500,2500,0,0,0,0,0,0,1
29992,10000,1,3,1,43,0,0,0,-2,-2,...,0,0,0,2000,0,0,0,0,0,0
29993,100000,1,1,2,38,0,-1,-1,0,0,...,70626,69473,55004,2000,111784,4000,3000,2000,2000,0
29994,80000,1,2,2,34,2,2,2,2,2,...,77519,82607,81158,7000,3500,0,7000,0,4000,1
29995,220000,1,3,1,39,0,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,150000,1,3,2,43,-1,-1,-1,-1,0,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,30000,1,2,2,37,4,3,2,-1,0,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,80000,1,3,1,41,1,-1,0,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,50000,1,2,1,46,0,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [74]:
data = data_set.drop(['default payment next month'], axis=1)

In [76]:
target = data_set["default payment next month"]

In [86]:
data_set.corr('pearson')

Empty DataFrame
Columns: []
Index: []

In [85]:
correlation

Empty DataFrame
Columns: []
Index: []